/*font-family: 'Ubuntu', sans-serif;*/

body{
    background-image: url(../img/Фон\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.page_header{
    position: relative;
    width: 100%;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0px;
    padding: 0px;
}

.logo{

font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 22px;
margin: 0px;

color: #FFFFFF;
transition: 0.3s ease-in-out;

}

.main_logo_link{
    display: block;
    text-decoration-line: none;
    margin-top: 0px;
margin-bottom: 0px;
padding-top: 18px;
padding-left: 79px;
width: 140px;
height: 22px;


}

.main_logo_link:hover>.logo{
    color: #3CB878;
    transition: 0.3s ease-in-out;
}

.header_icons{
    position: absolute;
    top: 18px;
    right: 308px;
    display: flex;
    width: 119px;
    height: 24px;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.icon_svg{
    height: 20px;
    width: 20px;
}
.icon1_hover_svg{
    display: none;
}

.icon1_link:hover>.icon1_svg{
    display: none;
}

.icon1_link:hover>.icon1_hover_svg{
    display: inline-block;
    
}




.icon2_hover_svg{
    display: none;
}

.icon2_link:hover>.icon2_svg{
    display: none;
}

.icon2_link:hover>.icon2_hover_svg{
    display: inline-block;
}


.icon3_hover_svg{
    display: none;
}

.icon3_link:hover>.icon3_svg{
    display: none;
}

.icon3_link:hover>.icon3_hover_svg{
    display: inline-block;
}

.header_icons::after{
content: "";
width: 1px;
height: 19px;
background: rgba(255, 255, 255, 0.9);
mix-blend-mode: normal;
opacity: 0.5;
position: relative;
left: 25px;
}

.login_sign_up_flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    width: 173px;
    height: 22px;
    position: absolute;
    top: 18px;
    right: 79px;
    column-gap: 2px;
}

.login_sign_up_text{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.login_sign_up_link{
text-decoration-line: none;
font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #FFFFFF;
transition: 0.3s ease-in-out;
}

.login_sign_up_link:hover{
   color: #3CB878;
}

.form{
    width: 446px;
    height: 586px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 54px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: relative;
    padding: 0px;
}

.green_square{
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    top: 29px;
    left: 0px;
}

.form_info_container{
    width: 325px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.sign_up_log_in_flexbox{
    padding-top: 14px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sign_up{

font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;

color: #434343;
}

.log_in{
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #3CB878;
text-decoration-line: none;
transition: 0.3s ease-in-out;
}

.log_in:hover{
    color: #01813F;
}
.facebook_google_flexbox{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.facebook_login_button{
    position: relative;
    width: 160px;
    height: 48px;
    background: #305DB8;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
}

.facebook_login_link:hover>.facebook_login_button{
    background: #022263;
}

.facebook_logo{
    position: absolute;
    left: 16px;
    top: 11px;
}

.rectangle{
    position: absolute;
    width: 1px;
    height: 28px;
    background: #0A162F;
mix-blend-mode: normal;
opacity: 0.1;
left: 48px;
top: 10px;
}

.facebook_text{
    position: absolute;
    left: 67px;
    top: 16px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    padding: 0px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;

color: #FFFFFF;
}

.google_login_button{
    position: relative;
    width: 160px;
    height: 48px;
    background: #DF4A32;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
}
.google_login_link:hover>.google_login_button{
    background: #AB1F09;
}
.google_logo{
    position: absolute;
    left: 12px;
    top: 15px;
}

.google_text{
    position: absolute;
    left: 80px;
    top: 17px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    padding: 0px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;

color: #FFFFFF;
}

.or_line{
    border: none;
    border-top: 1px solid #F2F2F2;
    color: #333;
    overflow: visible;
    text-align: center;
    margin-top: 31px;
}

.or_line::after{
    background: #fff;
    content: 'or';
    padding: 0 7px;
    position: relative;
    top: -12px;
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;

color: #848484;


}

.different_input:focus{
    background: #FFFFFF;
box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
border-radius: 4px;
outline: none;
}

.different_input{
    width: 324px;
    height: 45px;
    background: #FFFFFF;
    margin-top: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
/*font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #434343;*/
}

::placeholder{
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;

color: #BEBEBE;
}

.last_text_form{
    margin-bottom: 12px;
    
}


.form_label{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    
    color: #434343;
}

.terms_conditions_link{
    color: #3CB878;
    text-decoration-line: none;
    transition: 0.3s ease-in-out;
    
}

.terms_conditions_link:hover{
color: #01813F;
}

.create_account_link{
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-decoration-line: none;
    transition: 0.3s ease-in-out;
}

.create_account_link:hover{
    background: #01813F;
}

.create_account_text{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    
}